{% load staticfiles %}

<!DOCTYPE html>
<html lang="sv">

  <head>
    <title>Maila Kristina ett vacker brev</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
  </head>

  <body>
    <div class="container">
      <div class="row-fluid">
	{% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
