{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
  <h1>Mail till Kristina <small>Skriv något fint till henne</small></h1>
</div>

<div class="row-fluid">
  <div class="span12">
    <form action="{% url mail:edit id %}" method="post">{% csrf_token %}
      {% for f in email_form %}
      {{ f.label_tag }}
      {{ f }}
      {% endfor %}
      <div class="row-fluid">
	<div class="span4">
	  <input type="submit" name="SaveEmailBTN" value="Spara ändringar" class="btn-success" />
	</div>
	<div class="span4">
	  <input type="submit" name="SaveAndMailBTN" value="Spara och skicka" class="btn-success" />
	</div>
	<div class="span4">
	  <input type="submit" name="UndoEmailBTN" value="Tillbaka" class="btn-danger"/>
	</div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
