{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="hero-unit">
  <h1>Kristina <small>För att hon är en fin människa</small></h1>
</div>
<a href="{% url logout %}">Logout</a>
<div class="row-fluid">
  <div class="span6">
    <h2>Kommande komplimanger</h2>
    {% for cc in comming_compliments %}
    <p>{{ cc.text }}</p>
    {% endfor %}

    <form action="{% url compliment %}" method="post" class="well">{% csrf_token %}
      {% for field in compliment_form %}
      {{ field.errors }}
      {{ field }}
      {% endfor %}
      <input type="submit" value="Lägg till" class="btn" />
    </form>
  </div>
  <div class="span6">
    <h2>Kommande mediaklipp</h2>
    <ul>
      {% for cm in comming_media %}
      <li><a href="{{ cm }}" target="_blank">{{ cm }}</a></li>
      {% endfor %}
    </ul>

    <form action="{% url media %}" method="post" class="well"> {% csrf_token %}
      {% for field in media_form %}
      {{ field.errors }}
      {{ field }}
      {% endfor %}
      <input type="submit" value="Lägg till" class="btn" />
    </form>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h2>Meddelanden</h2>
    <form action="{% url mailgenerator:mail %}" method="get" class="well">
      <input type="submit" value="Generera nya" class="btn" />
    </form>
    {% for um in unsent_mail %}
    <form action="{% url mail:edit um.id %}" method="get">
      <h3>{{ um.subject }}</h3>
      <pre>{{ um.html_contents }}</pre>
      <input type="submit" value="Ändra" class="btn"/>
    </form>
    {% endfor %}
    <hr/>
    {% for sm in sent_mail %}
    <h3>{{ sm.subject }}</h3>
    <span class="label label-success">{{ sm.sent }}</span>
    <pre>{{ sm.html_contents }}</pre>
    {% endfor %}
  </div>
</div>

{% endblock %}
