<html>
  <head/>
  <body>
    <h1>Ett nytt kärleksbrev</h1>
    <p>{{ compliment.text }}</p>

    {% if todays_message %}
    <h2>Några ord för idag</h2>
    <p>{{ todays_message }}</p>
    {% endif %}

    <h2>Dagens klipp</h2>
    <p><a href="{{ media.url }}">{{ media.title }}</a></p>

    <p>Med hjärtliga hälsningar</p>
    <p>Anders Andersson</p>
  </body>
</html>
